.picture-boxes {
  width: 80%;
  max-width: 800px;
  margin: 3vh auto;
  padding: 0.5em;
  background: rgb(86, 89, 93);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#picture img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.quote-box {
  width: 80%;
  max-width: 600px;
  margin: 2vh auto 0 auto;
  padding: 0.5em;
  border-radius: 5px;
}
