body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    color: white;
    background: hsl(180, 10%, 10%);
}

header{
    flex: 0 0 80px;
    background: hsl(180, 10%, 10%);
}

main{
    flex: 1;
    overflow-y: auto;
}

footer{
    flex: 0 0 50px;
    background: hsl(180, 10%, 10%);
}
