body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #B74141;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(180, 182, 182) thin;
}
.navbar-text{
    color:white;
    margin-left: auto;

}

.form-check {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem; /* distance between checkbox and label */
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
